.main {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.background {
  background-color: #f2f2f2;
  width: 700px;
}

.baloon-1 {
  position: absolute;
  top: 500px;
  left: 150px;
  width: 70px;
  animation-name: baloon-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.baloon-2 {
  position: absolute;
  top: 500px;
  right: 200px;
  width: 70px;
  transform: scaleX(-1);
  animation-name: baloon-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bike {
  position: absolute;
  top: 260px;
  left: 50px;
  width: 150px;
  animation-name: bike-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.front-tire {
  position: absolute;
  top: 399px;
  left: 167px;
  width: 60px;
  animation-name: front-tire-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.rear-tire {
  position: absolute;
  top: 400px;
  left: 44px;
  width: 60px;
  animation-name: rear-tire-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.shadow {
  position: absolute;
  top: 448px;
  left: 16px;
  width: 250px;
  animation-name: shadow-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes baloon-animation {
  0% {
    top: 600px;
  }
  100% {
    top: 0;
  }
}
@keyframes bike-animation {
  0% {
    left: 50px;
  }
  100% {
    left: 1250px;
  }
}
@keyframes front-tire-animation {
  0% {
    left: 167px;
    transform: rotate(-360deg);
  }
  100% {
    left: 1367px;
  }
}
@keyframes rear-tire-animation {
  0% {
    left: 44px;
    transform: rotate(-360deg);
  }
  100% {
    left: 1244px;
  }
}
@keyframes shadow-animation {
  0% {
    left: 16px;
  }
  100% {
    left: 1216px;
  }
}
